@page "/"

<form @onsubmit="parse">
    <input type="text" name="input" @bind-value=@(Cache.ValueIn) />
    <input type="submit" value="Run" />
    <br />
    <div>
        @foreach (var line in Cache.ValuesOut)
            {
                <p>@line</p>
            }
    </div>
</form>


@code {
    private ReplCache Cache = new ReplCache();

    public void parse()
    {
        var writer = new WebWriter(Cache);
        var reader = new WebReader(Cache);
        var repl = new WebRepl(reader, writer);
        repl.Start();
    }
}